@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: #557ea7;
	font-family: Arial, Helvetica, sans-serif;
}
button {
	margin: 0 0.5em;
}
input[type='number'] {
	width: auto;
	width: 5em !important;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}
input[type='file'] {
	padding: 0 !important;
	border: 0;
	background: none;
	font-size: 0.8rem;
}
:focus-visible {
	outline: 0;
	outline-offset: 0;
}
.loginForm input {
	width: 100%;
}
.loginForm .suffix {
	display: none;
}
.scoresForm dl p {
	margin-bottom: 0;
}
h2.pageTitle {
	font-size: 1.4em;
	margin-bottom: 1em;
	color: #557ea7;
	text-align: center;
	letter-spacing: 1px;
	letter-spacing: 2.75px;
	/* text-shadow: 0 0 35px #557ea7; */
	background: url(./assets/img/student.svg) top center no-repeat;
	padding-top: 1.7em;
	font-weight: 700;
}
.ico-back {
	background: url(./assets/img/ico_back.svg) top left no-repeat;
	padding-left: 1.7em;
}
.tab-pane {
	opacity: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}
.tab-pane.block {
	opacity: 1;
}
/*=============================
.btn-trigger
=============================*/
.btn-trigger {
	position: relative;
	width: 20px;
	height: 16px;
	cursor: pointer;
}
.btn-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 0;
}
.btn-trigger,
.btn-trigger span {
	display: inline-block;
	transition: all 0.5s;
	box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
	top: 0;
}
.btn-trigger span:nth-of-type(2) {
	top: 7px;
}
.btn-trigger span:nth-of-type(3) {
	bottom: 0;
	width: 11px;
	right: 0;
	left: auto;
}
#btn03.active {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
#btn03.active span:nth-of-type(1) {
	-webkit-transform: translateY(16px) rotate(-45deg);
	transform: translateY(16px) rotate(-45deg);
	top: -9px;
}
#btn03.active span:nth-of-type(2) {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
#btn03.active span:nth-of-type(3) {
	opacity: 0;
}

.linechart {
	height: 350px;
}
@media screen and (min-width: 768px) {
	.linechart {
		height: 500px;
	}
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@media print {
	header h1,
	button,
	.ico-back {
		display: none;
	}
	header {
		justify-content: left !important;
		padding: 0 !important;
	}
	header:after {
		content: 'EUREKA';
		font-weight: bold;
		margin-top: 1rem;
	}
	h2 {
		padding-top: 1rem !important;
	}
	.mainWrapper,
	.mainWrapper > section {
		padding: 0 !important;
		box-shadow: none !important;
		border: 0;
	}
	.linechart {
		height: 500px;
	}
	canvas {
		max-width: 100% !important;
	}
}
